/* nav */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
}

header {
    background-color: black;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Garante que a logo ocupe toda a largura */
    position: relative;
}

.container-logo img {
    position: absolute;
    left: 20px; /* A imagem ficará à esquerda */
    max-height: 100px; /* Ajuste conforme o tamanho desejado */
    margin-bottom: 10px;
}

.escrita_logo {
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

/* Navegação */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(19, 22, 31);
    height: 20%;
    width: 100%;
    margin-top: 30px;
}

nav a {
    text-decoration: none;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 50px;
    padding: 10px 60px;
    color: white;
}

nav > a:hover {
    text-decoration: underline;
    background-color: rgb(72, 72, 78);
}

.container-video-apresenta{
    padding: 90px;
    height: 40vh;
}

.apresenta {
    float: center;
    margin: 0px auto;
    background-color: white;
    /* background-image: url(./assets/img/tela-video.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    border: solid green;
}

.container-video-apresenta h1{
    text-align: center;
}


/* socials */
#servico {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    height: 50%;
    background-color: rgb(14, 15, 17);
    color: white;
}

#servico > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(43, 45, 49);
    padding: 30px;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 10px;
    margin: 50px 0px;
    /* border: solid red; */
}

#servico > h1{
    text-align: center;
    background-color: black;
}

#servico > div > img {
    width: 25vh;
}

/* section > div > p {
    margin-top: 40px;
    color: lightgray;
} */

/* footer */
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

footer > div {
    color: rgb(0, 153, 255);
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
}

footer > p {
    color: gray;
    font-size: 12px;
    margin-top: 50px;
}


/************* Seção: Mapa *******************/
#mapa {
    background-image: url('./assets/img/gps_smartPhone375x250.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* margin-top: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    background-color: rgb(14, 15, 17);
}

#mapa .content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 100px;
    width: 550px;
    height: 550px;
}

#mapa::before {
    content: none;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/****************** Footer ****************/

.rodape {
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    position: relative;
    background-color: black;
    margin-top: 10px;
    z-index: 0;
    border: red solid;
}

.card-group {
    display: flex;  /* Espaço entre os cards */
    justify-content: space-between; /* Cada card ocupa a mesma largura */
    flex: 1;
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    transition: transform 0.3s; /*Efeito de transição suave*/
    margin: 10px; /* Margem horizontal para espaçamento */
    margin-left: 20px;
}

.card-group:hover {
    transform: scale(1.05);
    /* Aumenta o tamanho ao passar o mouse */
}

.card-body-1 {
    position: relative;
    padding-right: 20px;
    /* Padding de 10px */
    text-align: left;
    /* Alinhamento à esquerda */
}

.card-body-1 h3 {
    text-align: center;
    color: white;
}

.card-body-1 li {
    text-align: left;
    color: white
}


.card-body-2 {
    padding: 0px;
    /* Padding de 10px */
    text-align: left;
    /* Alinhamento à esquerda */
}

.card-body-2 h3 {
    text-align: center;
    margin-top: -45px;
    margin-bottom: 20px;
}

.card-body-3 h3{
    text-align: center;
    color: White;
}

.servico-texto-realce{
    text-align: center;
    color: White;
    font-weight: 500 bold;
    font-style: italic;
    font-family: cursive;
}

.card-body-3 p{
    text-align: center;
    color: white;
}

/* Ícones das redes sociais */
.social-icons {
    display: flex;
    gap: 5px;
}

.social-icons a {
    text-decoration: none;
    margin: 0;
    /* Remover margens para evitar problemas de layout */
    /* border-radius: 50%; */
    /* box-sizing: border-box; */
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Corrigido para 'center' */
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 2.5em;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    /* Efeito de espelhamento */
}

.social-icons a:hover {
    background: var(--color);
    color: black;
    box-shadow:
        0 0 5px var(--color),
        0 0 25px var(--color),
        0 0 50px var(--color),
        0 0 200px var(--color);
}

.social-icons .facebook {
    color: #ddd;
    /* Azul do Facebook */
}

.social-icons .instagram {
    color: #ddd;
    /* Rosa do Instagram */
}

.social-icons .whatsapp {
    color: #ddd;
    /* Verde do WhatsApp */
}

.social-icons .email {
    color: #ddd;
    /* Verde do WhatsApp */
}

.social-icons i {
    font-size: 2rem;
}


.designby a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

span {
    color: #ff8400;
    font-weight: bold;
}