body{
    background-color: rgb(86, 86, 206);
    /* background-color: rgb(75, 75, 75); */
}

/*tela ce acesso geral Ordem Serviço*/
.etiqueta{
    text-align: center; /*alinhamento do texto*/
    padding-top: 50px; /* espaçamento do teto*/
    padding-bottom: 50px; /*espaçamento do footer*/
}

.etiqueta h1{
    color: rgb(255, 167, 2);    
}

.card{
    justify-content: center;
    background-color: rgba(228, 162, 39, 0.904);
    color: rgb(57, 57, 204);
  
    margin: 20px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 20px white
}

.card-img-top{
    padding-top: 10px;
    display: flex;
    position: relative;
    align-self: center;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
    
